// Base Styles

body
  font-family: "Open Sans", sans-serif

h1
  color: #ccc
  weight: 300

figure
  margin: auto

.content
  article
    padding: 100px
    max-width: 640px
    margin: 0 auto
    text-align: center

img
  max-width: 100%



// Parallax
// this is the header
.bird-box
  position: relative
  height: 600px
  background:
    image: url(../images/bird-bg.jpg)
    // if we used contain,it will stretch the image to as it is contained in  the box
    size: auto 600px
    position: top center
    // this type of styling makes the background image not move
    attachment: fixed
    // this removes the wood in the bird as the other div comes above it
  overflow: hidden
.logo
  height: 100px
  width: 100%
  background:
    color: pink
    image: url(../images/black-bird-logo.svg)
    position: center
    repeat: no-repeat
  // this makes the logo at the center
  position: absolute
  top: 50%
  margin-top: -50px

.fore-bird
  width: 960px
  height: 733px
  background:
    // this transparentize effect produces rgb properties of image when renderd,0.4 is the opacity
    //color: transparentize(pink, 0.4)
    image: url(../images/fore-bird.png)
    repeat: no-repeat
    position: right bottom
  position: absolute
  left: 50%
  margin-left: -480px
  top: 380px

.back-bird
  width: 960px
  height: 298px
  background:
    image: url(../images/back-bird.png)
    repeat: no-repeat
    position: top left
    //color: transparentize(pink, 0.4)
  position: absolute
  left: 50%
  margin-left: -480px

//model grid
.clothes-pics
  figure
    margin-bottom: 20px
    position: relative
    opacity: 0
    transform: translateX(-20px)
    transition: all 0.3s ease-in-out
    // this & is just stating what happens when that class reaches
    &.is-showing
      opacity: 1
      transform: translateX(0px)
//large window
.large-window
  height: 640px
  background:
    image: url(../images/model2.jpg)
    position: top center
    repeat: no-repeat
    attachment: fixed
  margin-top: 100px
  border-radius: 50%
