body {
  font-family: "Open Sans", sans-serif; }

h1 {
  color: #ccc;
  weight: 300; }

figure {
  margin: auto; }

.content article {
  padding: 100px;
  max-width: 640px;
  margin: 0 auto;
  text-align: center; }

img {
  max-width: 100%; }

.bird-box {
  position: relative;
  height: 600px;
  background-image: url(/images/bird-bg.jpg);
  background-size: auto 600px;
  background-position: top center;
  background-attatchment: fixed;
  overflow: hidden; }

.logo {
  height: 100px;
  width: 100%;
  background-color: pink;
  background-image: url(/images/black-bird-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -50px; }

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url(/images/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px; }

.black-bird {
  width: 960px;
  height: 298px;
  background-image: url(/images/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: rgba(255, 192, 203, 0.6);
  position: absolute;
  left: 50%;
  margin-left: -480px; }
